<%- include('./partials/head') %>

<main>



<ul>
    <% items.forEach(item => { %>
        <article><li>
           <a href="./detail/<%= item.id %>"></a>
             </li>
              <h2><%= item.title %></a></h2>
             <% if (item.afbeelding) { %>
            <img src="https://fdnd-agency.directus.app/assets/<%= item.afbeelding %>" class="item-afbeelding" alt="">
        <% } %>
<% }); %>
</article></ul>




</main>

<%- include('./partials/foot') %>